
*{
    margin: 0;
    padding:0;
}
.nav-nopadding{
    /* nav-padding不能设置hight高度，否则会影响缩小版竖列导航的弹出 */
    padding: 10px 45px;
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color:white;
}

.navbar-brand img{
    display: block;
    max-width: 100%;
}

#navbarSupportedContent ul li a{
    color: black;
}

#navbarSupportedContent ul li a:hover{
    color: #e46e2e;
}

.jumbotron{
    width: 100%;
    margin-top: 72px;
    background-color:white; 
    height:409px;
    background-image: url("../img/circle1.svg"),url("../img/circle2.svg"),url("../img//circle3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron img{
    width: 250px;
    height: 293px;
    margin: 0 auto;
}
.jumbotron .title{
    display: block;
}

.string{
    padding-bottom: 32px;
    margin: 10px auto;
}

.string span{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
}

.section-grey{
    background-color: #f5f5f5;
    padding-top: 76px;
}

#JupyterLab-notebook img,#JupyterLab img{
    display: block;
    /* max-width: 100%;可以使图片自适应，并且缩放自如 */
    max-width: 95%;
    height:auto;
}

.jupyterLab-text{
    padding-top:70px;
    text-align: center;
}

#JupyterLab-notebook .lab-preview h4, #JupyterLab h4{
    text-align: left;
    font-weight: 400;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 32px;
    padding: 0 20px;
}

@media (min-width: 992px)/*当屏幕尺寸大于992px时，应用下面的CSS*/
{
    h4{
        font-size: 18px;
    }
     h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.25em;
    }
}
@media (max-width: 992px)/*当屏幕尺寸小于992px时，应用下面的CSS*/
{
    h4{
        font-size: 18px;
    }
     h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.136em;
    }
}

.section-white{
    background-color: white;
    padding-top: 76px;
}

.orange-button a{
    display: inline-block;
    width: 164PX;
    height: 49PX;
    line-height: 30px;
    background-color: #e46e2e;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    line-height: 49px;
    margin-left: 10px;
}    


@media (max-width: 992px){
    .orange-button{ 
        display: flex;
        justify-content: center;
        align-items: center;
        margin:20px auto; 
    }
}

.notebook-feature h4{
    margin: 10px auto;
}

@media (max-width: 992px){
    .notebook-feature{
        text-align: center;
    }
    .notebook-feature img{
        margin: 0 auto;
    }
}

.notebook-features{
    padding-top: 20px;
    padding-bottom: 20px;
}


.jupyterhub-logo{
    display: block;
    max-width: 50%;
    margin: 0 auto;
}
.jupyterhub-text{
    text-align: center;
    padding-top: 20px;
}

.section-grey1{
    background-color: #f5f5f5;
    padding-top: 50px;
}

@media (max-width: 992px){
    .jupyterhub-logo{
        display: block;
        max-width: 85%;
        margin: 0 auto;
    }
}
@media (min-width: 992px){
    .smallhub{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}
@media (min-width: 992px){
    .smallhub{
        margin-top: -40px;
        background-image: url("../img/line.svg");
        background-repeat: no-repeat;
        background-position: top;
        
    }
}


.smallhub img{
    display: block;
    margin: 0 auto;
    
}
.smallhub h4,.smallhub p{
    text-align: center;
}
@media (min-width: 992px){
    .depper{
        margin-top: 80px;
    }
}
.hubinfo{
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.hubinfo a{
    text-decoration: none;
    color: aliceblue;
    background-color: #e46e2e;
    padding: 13px 26px;
}

