
*{   
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    box-sizing: border-box;
}
.row{
    margin: 0;
}

.nav-nopadding{
    /* nav-padding不能设置hight高度，否则会影响缩小版竖列导航的弹出 */
    padding: 10px 45px;
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color:white;
}

.navbar-brand img{
    display: block;
    max-width: 100%;
}

#navbarSupportedContent ul li a{
    color: black;
}

#navbarSupportedContent ul li a:hover{
    color: #e46e2e;
}

.jumbotron{
    width: 100%;
    margin-top: 72px;
    background-color:white; 
    height:409px;
    background-image: url("../img/circle1.svg"),url("../img/circle2.svg"),url("../img//circle3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron img{
    width: 250px;
    height: 293px;
    margin: 0 auto;
}
.jumbotron .title{
    display: block;
}

.string{
    padding-bottom: 32px;
    margin: 10px auto;
}

.string span{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
}

.section-gery{
    background-color: #f5f5f5;
    padding-top: 76px;
}

#JupyterLab-notebook img,#JupyterLab img{
    display: block;
    /* max-width: 100%;可以使图片自适应，并且缩放自如 */
    max-width: 95%;
    height:auto;
}
#JupyterLab img{
    padding-bottom: 70px;
}

.jupyterLab-text{
    padding-top:70px;
    text-align: center;
}

#JupyterLab-notebook .lab-preview h4, #JupyterLab h4{
    text-align: left;
    font-weight: 400;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 32px;
    padding: 0 20px;
}

@media (min-width: 992px)/*当屏幕尺寸大于992px时，应用下面的CSS*/
{
    h4{
        font-size: 18px;
    }
     h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.25em;
    }
}
@media (max-width: 992px)/*当屏幕尺寸小于992px时，应用下面的CSS*/
{
    h4{
        font-size: 18px;
    }
     h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.136em;
    }
}

.section-white{
    display: block;
    background-color: white;
    padding-top: 76px;
}

.orange-button a{
    display: inline-block;
    width: 164PX;
    height: 49PX;
    line-height: 30px;
    background-color: #e46e2e;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    line-height: 49px;
    margin-left: 10px;
}    
.orange-button a:hover{
    background-color: #f27624;
}

@media (max-width: 992px){
    .orange-button{ 
        display: flex;
        justify-content: center;
        align-items: center;
        margin:20px auto; 
    }
}

.notebook-feature h4{
    margin: 10px auto;
}

@media (max-width: 992px){
    .notebook-feature{
        text-align: center;
    }
    .notebook-feature img{
        margin: 0 auto;
    }
}

.notebook-features{
    padding-top: 20px;
    padding-bottom: 20px;
}


.jupyterhub-logo{
    display: block;
    max-width: 50%;
    margin: 0 auto;
}
.jupyterhub-text{
    text-align: center;
    padding-top: 20px;
}

.section-gery1{
    display: block;
    background-color: #f5f5f5;
    padding-top: 50px;
}

@media (max-width: 992px){
    .jupyterhub-logo{
        display: block;
        max-width: 85%;
        margin: 0 auto;
    }
}
@media (min-width: 992px){
    .smallhub{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}
@media (min-width: 992px){
    .smallhub{
        margin-top: -40px;
        background-image: url("../img/line.svg");
        background-repeat: no-repeat;
        background-position: top;
        
    }
}


.smallhub img{
    display: block;
    margin: 0 auto;
    
}
.smallhub h4,.smallhub p{
    text-align: center;
}
@media (min-width: 992px){
    .depper{
        margin-top: 80px;
    }
}
.hubinfo{
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hubinfo a{
    text-decoration: none;
    color: aliceblue;
    background-color: #e46e2e;
    padding: 13px 26px;
}
.hubinfo a:hover{
    background-color:#f27624;
}
.section-header{
    margin: 12px auto 8px;
    text-align: center;
}
.companies{
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .companies li{
        list-style: none;
        display: inline-block;
        padding: 2%;
        vertical-align: middle;
        width: 18%;
    }
}
.companies li{
    list-style: none;
    display: inline-block;
    padding: 2%;
    vertical-align: middle;
}
.companies li a{
    text-decoration: none;
}

.companies li a img{
    display: block;
    max-height: 60px;
    width: 100%;
    opacity: .6;
    transition: all .3s;
}
.companies li a img:hover{
    opacity: 1;
} 
.container-fluid{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 10px);
}

.arch-logo{
    text-align: center;
}

.arch-logo h3{
    margin: 12px auto 8px;
}

.arch-logo h4{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.architecture .row{
    padding-top: 40px;
}
.card {
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 300px;
    text-align: center;
    transition: all .3s;
}
.card:hover{
    box-shadow: 0px 10px 20px rgba(0,0,0, .2);
    transform: translate3d(0,-2px,0);
}

.row .card-con{
    text-align: center;
    margin-bottom: 40px;
}
.card .card-content img{
    margin-top: 40px;
}
/* footer */
.footer-con{
    background-color:#979797; 
    color: white;
}
.navbar-text{
    margin: 15px;
    padding-left: 35px;
}
.footer-text li::after{
    content: "|";
    color: white;
}
.footer-tex{
    margin-bottom: 10px;
}
.footer-text li{
    display: inline-block;
}
.footer-text li a{
    text-decoration: none;
    color: white;
}

